/* Reset general */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', serif;
    overflow-x: hidden;
    background-color: #1f396a;
    color: #ffffff;
}
#apertura{
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./fondoHead.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}
/* #apertura::after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e51b34;
    background-image: url('./twe.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
} */
h1{
    font-size: 58px;
    letter-spacing: 1.5px;
    margin: 20vh auto 20px;
    margin-left: 150px;
    width: 55%;
    font-weight: 800;
    color: #fff;
    line-height: 1.4;
}
h1 .ani, h1 .rep{
    padding: 3px 10px;
    background-color: #e83c52;
}
h1 .rep{
    background-color: #e51b34;
}
h2{
    font-weight: 400;
    font-size: 27px;
    /* text-align: center; */
    margin: 0 auto 15px;
    margin-left: 150px;
    width: 38%;
    letter-spacing: 1px;
}
#bajada{
    font-weight: 200;
    font-size: 17px;
    /* text-align: center; */
    width: 40%;
    margin: 0px auto;
    margin-left: 150px;
}
#logo{
    display: block;
    width: 230px;
    margin: 20px auto;
    margin-left: 150px;
}
.redes{
    display: flex;
    gap: 0 15px;
    margin: 0px auto;
    margin-left: 150px;
}

.redesFoo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 35px;
    margin: 50px auto;
}
.linkRed, .linkRedFoo{
    text-decoration: none;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
    border: #fff 1px solid;
}
.red{
    width: 15px;
    height: 15px;
    margin: 2px;
}
/* .in, .w{
    width: 22px;
} */
.linkRed:hover, .linkRedFoo:hover{
    transform: scale(1.3);
}
.fecha{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
}
h3{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin: 100px auto 50px;
}
h3 .ani{
    padding: 3px 10px;
    background-color: #e83c52;
}
.ch{
    margin-bottom: 20px;
}
h4{
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    margin: 10px auto 15px;
}
.tex{
    width: 50%;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 35px;
    max-width: 900px;
}
.tex span{
    font-weight: 600;
}
.tex a, ol a{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 1px;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s ease;
}
.tex a:hover, ol a:hover{
    background-color: #e51b34;
}
/* Primer letra de primer parrafo */
#uno::first-letter {
    font-size: 113px;
    font-weight: 500;
    float: left;
    line-height: .8;
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;
}

.graf406{
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    display: block;
}
/* GRAFICO BARRAS */
.stacked-chart {
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
  font-family: "Roboto Flex", sans-serif;
  max-width: 900px;
}

.row {
  display: grid;
  flex-direction: column;
  /* grid-template-columns: 80px 1fr 70px; */
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.total {
    display: block;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 20px auto 0px 0px;
}

.bar {
  display: flex;
  height: 100px;
  overflow: hidden;
}

.segment {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 4px;
}
.segment p{
    line-height: 1.1;
    font-weight: 300;
}
.segment span {
    font-size: 16px;
    font-weight: 600;
}

/* Colores */
.sin {
  background-color: #3e5f98;
}

.con {
  background-color: #e83c52;
}
.va {
  background-color: transparent;
}
.sin p, .com p{
    line-height: 1.3;
}
.va p{
    color: transparent;
}

/* Leyenda */
.legend {
  display: flex;
  gap: 25px;
  margin-top: 25px;
  font-size: 14px;
}

.legend .box {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 2px;
}

ol{
    width: 50%;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 20px;
}
ol li::marker {
  color: red;
  font-size: 20px;
  font-weight: 600;
}
ol li span{
    font-weight: 600;
}
.graf{
    display: block;
    margin: 50px auto;
    border: none;
    width: 60%!important;
    max-width: 900px;
}
.mob{
    display: none;
}
.period{
    width: 100%;
    margin: auto;
}
button.navigation-button.next-button, button.navigation-button.prev-button{
    width: 1.5rem !important;
    height: 1.5rem !important;
}
.h3tui{
    margin-bottom: 20px;
}
#refTwi{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: auto;
    margin-bottom: 40px;
    padding: 0;
}
.pro, .ret{
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.pro::before, .ret::before{
    content: '';
    position: absolute;
    bottom: 10px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin-right: 8px; */
    /* vertical-align: middle; */
}
.pro::before{
    background-color: #e83c52;
    border: 1px solid #e83c52;
}
.ret::before{
    background-color: transparent;
    border: 1px solid #fff;
}
.despec::before{
    background-color: #ff0000;
}
.estig::before{
    background-color: #999;
}
.repul::before{
    background-color: #ffff00;
}
.sex::before{
    background-color: #ee82ee;
}
#tweMandril{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin: 50px auto 80px;
}
.cardTwe{
    width: 250px;
    text-align: center;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    margin: 30px auto 30px;
    background-color: #3e5f98;
}
.cardTwe.mi{
    border: 1px solid #e83c52;
}
.cardTwe::before,
.cardTwe::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent; /* Mitad del ancho del triángulo */
    border-right: 13px solid transparent; /* Mitad del ancho del triángulo */
    border-top: 20px solid white; /* Grosor y color de la línea blanca */
    right: 30px;
    bottom: -20px;
}
.cardTwe::after {
    right: 30px;
    bottom: -18px;
    border-top: 20px solid #3e5f98;
}
.cardTwe.mi::before {
    border-top: 20px solid #e83c52;
}
h5{
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto;
}
h5 span{
    font-size: 15px;
    font-weight: 200;
    margin: auto;
}
h6{
    font-size: 15px;
    font-weight: 600;
    margin: auto;
}
h6 span{
    font-size: 13px;
    font-weight: 200;
    margin: auto;
}
.usFe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 5px 0px;
}
.usFe.mi{
    background-color: #e83c52;
    border-bottom: 1px solid #e83c52;
    border-top: 1px solid #e83c52;
}
.fecTwe{
    font-size: 12px;
    font-weight: 300;
    margin: 5px auto;
}
.twe{
    width: 40px;
    border-radius: 50%;
    background-color: #1f396a;
    padding: 10px;
    margin: -45px auto 0px;
    border: 1px solid #fff;
}
.twe.mi{
    background-color: #e83c52;
    border: 1px solid #e83c52;
}
.texTwe{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    margin: auto;
    margin-bottom: 10px;
}
#perio{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 50px auto;
}
.card{
    width: 200px;
    text-align: center;
}
.card .foto{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 10px auto;
    background-position: center top;
    background-size: cover;
}
.card .nom{
    font-size: 16px;
    font-weight: 600;
    margin: 5px auto;
    text-align: center;
    width: 80%;
    min-height: 50px;
}
.imgMandril{
    display: block;
    margin: 50px auto;
}
.imgTui{
    display: block;
    margin: 50px auto;
    max-width: 700px;
}
.twiEmb{
    margin: 30px auto 50px;
    max-width: 550px;
}
/* Footer */
#footer{
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 20px 0px 50px;
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 150px;
    line-height: 1.6;
}

#texFoo{
    margin: 15px auto 30px;
    width: 50%;
    line-height: 1.5;
}
#texFoo span {
    font-weight: 600;
}
#texFoo a:link, #texFoo a:visited, #texFoo a:active{
    color: #fff;
    transition: all 0.3s ease;
}
#texFoo a:hover{
    color: #be1622;
}
#logoFopeaFoo{
    display: block;
    width: 230px;
    margin: auto;
    margin-top: 20px;
    margin-right: auto;
}
#footer #linea{
    width: 60%;
    margin: 50px auto;
    border-bottom: 1px solid #e83c52;
    position: relative;
}
#footer #linea::before{
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e83c52;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}
#footer #linea::after{
    content: '';
    width: 35px;
    height: 35px;
    background-image: url('./retwe.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 0 12px; */
}
.nombre, .fuente{
    width: 80%;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 600;
}
.fuente{
    font-size: 14px;
    font-weight: 300;
}
.nombre span, .fuente span{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5px;
}
/* .nombre br, .fuente br{
    display: none;
} */
.fuente a:link, .fuente a:visited, .fuente a:active{
    color: #fff;
    transition: all 0.3s ease;
}
.fuente a:hover{
    color: #be1622;
}
#tituMeto{
    padding-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 30%;
    margin: 40px auto 20px;
    position: relative;
    border-top: 1px solid #e83c52;
}
#tituMeto::before{
    content: '';
    width: 30px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#tituMeto::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e83c52;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.punto{
    font-weight: 500;
    margin: 20px auto 10px;
    max-width: 900px;
    line-height: 1.3;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}
.arrow {
  font-size: 11px;
  margin-left: 7px;
}
.meto{
    font-weight: 300;
    margin: 10px auto 30px;
    line-height: 1.4;
    text-align: left;
    width: 50%;
    max-width: 900px;
    transition: all 0.3s ease;
}
.meto a{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 1px;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s ease;
}
.meto a:hover{
    background-color: #e51b34;
}
#copy{
    font-size: 11px;
    font-weight: 300;
    margin: auto;
    margin-top: 40px;
    letter-spacing: 0.5px;
    position: relative;
    padding-top: 20px;
    border-top: 1px solid #e83c52;
    width: 60%;
}
#copy::before{
    content: '';
    width: 30px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#copy::after{
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #e83c52;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}