@media (min-width: 1800px){
    #apertura{
        height: 75%;
    }
    h1, h2, #bajada, #logo, .redes{
        margin-left: 23%;
    }
}
@media (max-width: 900px){
    h1{
        margin-left: 100px;
        width: 80%;
    }
    h2{
        margin-left: 100px;
        width: 65%;
    }
    #bajada{
        margin-left: 100px;
        width: 65%;
    }
    #logo{
        margin-left: 100px;
    }
    .redes{
        margin-left: 100px;
    }
    .fecha{
        width: 75%;
    }
    .tex {
        width: 75%;
    }
    .graf406 {
        width: 95%;
    }
    .graf{
        width: 85% !important;
    }
    ol {
        width: 75%;
        margin-bottom: 50px;
    }
}
@media (max-width: 800px){
    #apertura{
        height: 75%;
    }
    h1{
        margin-left: 85px;
        width: 70%;
    }
    h2{
        margin-left: 85px;
        width: 70%;
    }
    #bajada{
        margin-left: 85px;
        width: 70%;
    }
    #logo{
        margin-left: 85px;
    }
    .redes{
        margin-left: 85px;
    }
    h3{
        width: 70%;
    }
    .tex{
        width: 70%;
    }
    .imgTui, .imgMandril{
        width: 70%;
    }
    #footer #linea{
        width: 80%;
    }
    ol{
        width: 75%;
    }
    .stacked-chart {
        width: 90%;
    }
}
@media (max-width: 600px){
    #apertura{
        height: 80vh;
        padding-top: 3vh;
        background-size: cover;
        background-position: left top;
        margin-bottom: 30px;
    }
    h1{
        text-align: center;
        font-size: 48px;
        letter-spacing: 1.5px;
        margin: 5vh auto 0px;
        width: 90%;
    }
    h2{
        font-size: 24px;
        text-align: center;
        margin: 15px auto;
        width: 90%;
    }
    h3 {
        width: 85%;
    }
    h4 {
        width: 85%;
    }
    #bajada{
        font-size: 16px;
        line-height: 1.3;
        text-align: center;
        width: 85%;
        margin: 0px auto;
    }
    #logo{
        margin: 20px auto;
    }
    .tex{
        width: 85%;
        font-size: 17px;
    }
    ol {
        width: 85%;
        padding-inline-start: 20px;
    }
    ol li::marker {
        font-size: 17px;
    }
    #uno::first-letter {
        font-size: 105px;
    }
    .redes{
        margin: 0px auto;
    }
    .graf{
        width: 95% !important;
    }
    .graf406 {
        width: 100%;
    }
    .mob{
        display: block;
    }
    .desk{
        display: none;
    }
    .floMob{
        width: 85%;
        margin: auto;
    }
    #tweMandril {
        width: 95%;
        gap: 5px;
        margin: 30px auto 50px;
    }
    .cardTwe {
        width: 42%;
    }
    .period{
        margin: 0 auto 60px;
    }
    #texFoo {
        width: 80%;
    }
    .imgTui{
        width: 90%;
    }
    #footer #linea{
        width: 90%;
    }
    .meto{
        width: 75%;
    }
    .segment span{
        font-size: 15px;
    }
}
@media (max-width: 500px){
    h1{
        font-size: 45px;
    }
    h2 {
        font-size: 22px;
    }
    h3{
        margin: 70px auto 50px;
    }
    .imgTui {
        width: 100%;
    }
    #copy{
        width: 85%;
    }
}
@media (max-width: 450px){
    #apertura{
        margin-bottom: 80px;
    }
    h1 {
        font-size: 40px;
    }
    .cardTwe {
        width: 90%;
    }
    #tituMeto, .punto, .meto {
        width: 90%;
    }
    .punto{
        text-align: left;
    }
}